boto3==1.35.59
PyYAML==6.0.2
loguru==0.7.2
google-auth==2.36.0
google-cloud-compute==1.22.0
aws-requests-auth
google-cloud-secret-manager
pandas
pytz
openpyxl
google-cloud-logging
google-cloud-build
google-cloud-storage
google-auth
google-auth-oauthlib
google-api-python-client
google-api-core
requests
